 <!-- Header Start -->
 <header>
    <nav class="nav-wrapper">
        <div class="nav-space"></div>
        <div class="main-nav">
            <div class="main-nav-logo">
                <p><i class="material-icons">location_city</i> Gemini Hostel Management system</p>
            </div>
            <div class="main-nav-content">
                
                <ul class="main-nav__items">
                    <li class="main-nav__item"><a href="">About</a></li>
                    <li class="main-nav__item"><a href="">gallery</a></li>
                    <li class="main-nav__item"><a href="">User Registration</a></li>
                    <li class="main-nav__item"><a href="">User Login</a></li>
                    <li class="main-nav__item btn-ctn"><i class="material-icons">security</i><a href=""> Admin Login</a></li>
                </ul>

            </div>
        </div>
        <div class="nav-space"></div>
    </nav>
</header>
<!-- Header End -->