<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>

    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/adminhome.css">
</head>
<body>
    <header>

    </header>
    <main>
        <!-- <section class="section-zero">
            <div class="section-content-wrapper">
                <div class="section-space"></div>
                <div class="section-content">
                    <h1>Dashboard</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores nisi voluptates fugit distinctio quia temporibus unde similique veritatis voluptatum, quos optio facilis sequi ducimus expedita aut dolore accusantium voluptate. Corrupti dicta voluptate, quia culpa vel recusandae facilis officia inventore magni pariatur unde maiores. Voluptates officiis unde commodi accusamus consequuntur cumque!</p>
                </div>
                <div class="section-space"></div>
            </div>
        </section> -->

        <section class="section-one">
            <div class="section-content-wrapper">
                <div class="section-space"></div>
                <div class="section-content">
                    <div class="rooms-content">
                        <h1>Manage Rooms</h1>
                        <div class="rooms">
                            <h2>30</h2>
                            <h5>Rooms</h5>
                        </div>
                        <div class="occupied">
                            <h2>20</h2>
                            <h5>Occupied Rooms</h5>
                        </div>
                        <div class="vacancy">
                            <h2>32</h2>
                            <h5>Vacancy</h5>
                        </div>
                    </div>
                </div>
                <div class="section-space"></div>
            </div>
        </section>
        <section class="section-two">
            <div class="section-content-wrapper">
                <div class="section-space"></div>
                <div class="section-content">
                   <div class="students">
                    <h2>students</h2>
                    <h3>47</h3>
                   </div>
                   <div class="notices">
                    <h2>Notice</h2>
                    <h3>30</h3>
                   </div>
                   <div class="lafs">
                       <h2>lost and found</h2>
                       <h3>13</h3>
                   </div>
                </div>
                <div class="section-space"></div>
            </div>
        </section>
        <section class="section-three">
            <div class="section-content-wrapper">
                <div class="section-space"></div>
                <div class="section-content">
                   <div class="student">
                    
                   </div>
                   <div class="notice">
                    
                   </div>
                   <div class="laf">
                       
                   </div>
                </div>
                <div class="section-space"></div>
            </div>
        </section>
    </main>

    <footer>

    </footer>
   
    
</body>
</html>