<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&display=swap" rel="stylesheet">    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <nav class="nav-wrapper">
            <div class="nav-space"></div>
            <div class="main-nav">
                <div class="main-nav-logo">
                    <p>HMS</p>
                </div>
                <div class="main-nav-content">
                    <ul class="main-nav__items">
                        <li class="main-nav__item"><a href="">User Registration</a></li>
                        <li class="main-nav__item">User Login</li>
                        <li class="main-nav__item btn-ctn">Admin Login</li>
                    </ul>
    
                </div>
            </div>
            <div class="nav-space"></div>

            

        </nav>
    </header>
    <main>
        <div class="main-wrapper">
            <div class="main-space"></div>
            <div class="section-one">
                <div class="section-one-content">
                    <h1>Hostel Management System</h1>
                    <p>System desgined to effortlessly manage the premises and a user friendly system for hostelites</p>
                   <div class="section-one__buttons">
                    <button class="section-one__button"> View Gallery <i class="material-icons">insert_photo</i></button>
                    <button class="section-one__button section-one-btn-ctn">Book a stay <i class="material-icons">hotel</i></button>
                   </div>
                </div>
                <div class="section-one-image">
                    <img src="/images/hostel.svg" alt="">
    
    
                </div>
            </div>
    
            <div class="main-space"></div>

        </div>
    </main>
    <footer>
        <h3>Hostel Management System <i class="material-icons">copyright</i></h3>
        <p>Avinash Payak</p>
        <p>avinashpayak@gmail.com</p>
    </footer>
</body>
</html>