<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="background">

    </div>
    <div class="wrapper">
        
        <div class="space"></div>
        <div class="wrapper-main">
            
        
            <header class="header">
                
                <div class="main-nav__items">
                    <li class="main-nav__item"><a href=""> Home</a></li>
                    <li class="main-nav__item"><a href="">About</a></li>
                    <li class="main-nav__item btn-ctn"><a href="">Login</a></li>
                    <li class="main-nav__item btn-ctn"><a href="">Sign Up</a></li>
                </div>
            </header>
        
            <main class="main">
                <div class="filters">
                    <div class="logo">
                        <h2><i class="material-icons">contacts</i> MHMS</h2>
                    </div>
                    <ul class="filter__items">
                        <h2>Filter hostel by:</h2>
                        <li class="filter__item"><i class="material-icons">book</i> College</li>
                        <li class="filter__item"><i class="material-icons">location_on</i> Location</li>
                        <li class="filter__item"><i class="material-icons">account_balance_wallet
                        </i> Price</li>
                    </ul>
                </div>

                <div class="content">
                    <h1>Affiliated Hostels</h1>
        
                    <div class="cards">
                        <div class="card">
                            <img src="/images/dypatil.jpg" alt="">
                            <div class="card-content">
                                <h2>DY Patil Hostel</h2>
                                <h3>Nerul, Navi Mumbai</h3>
                                <span class="rating"> <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i></span>
                            </div>
                        </div>

                        <div class="card">
                            <img src="/images/dypatil.jpg" alt="">
                            <div class="card-content">
                                <h2>DY Patil Hostel</h2>
                                <h3>Nerul, Navi Mumbai</h3>
                                <span class="rating"> <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i></span>
                            </div>
                        </div>
                    </div>
                </div>
                
        
        
            </main>
        
            
        </div>
        <div class="space"></div>
    </div>
    <footer class="footer">
        <h1>Multiple Hostel Management System <i class="material-icons">copyright</i></h1>
        <p>Avinash Payak</p>
        
    </footer>

    
</body>
</html>