<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GEMINI</title>
<!-- add icon link -->
<link rel = "icon" href = "/images/location_city.svg" type = "image/x-icon"> 
    
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
     <!-- Header Start -->
 <header>
    <nav class="nav-wrapper">
        <div class="nav-space"></div>
        <div class="main-nav">
            <div class="main-nav-logo">
                <p><i class="material-icons">location_city</i> Gemini Hostel Management system</p>
            </div>
            <div class="main-nav-content">
                
                <ul class="main-nav__items">
                    <li class="main-nav__item"><a href="">About</a></li>
                    <li class="main-nav__item"><a href="">gallery</a></li>
                    <li class="main-nav__item"><a href="">User Registration</a></li>
                    <li class="main-nav__item"><a href="/login">User Login</a></li>
                    <li class="main-nav__item btn-ctn"><i class="material-icons">security</i><a href="/admin/login"> Admin Login</a></li>
                </ul>

            </div>
        </div>
        <div class="nav-space"></div>
    </nav>
</header>
<!-- Header End -->
    <main>
        <!-- Section One start -->
        <div class="section-one-wrapper">
            <div class="section-one-space"></div>

            <section class="section-one">
                <div class="section-one-content">
                    <div class="section-one-background">
                    </div>
                    <h1>Gemini </h1>
                    <h2>Hostel Management System</h2>
                    <h3><i class="material-icons">location_on</i>Navi Mumbai</h3>
                    <p>System desgined to effortlessly manage the premises and very user friendly for hostelites</p>
                   
                   <div class="section-one-rating">
                    <p>Rated <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i> based on Reviews</p>
                </div>
                   
                </div>
                <div class="section-one-right">
                    <div class="section-one__buttons">
                        <button class="section-one__button section-one-btn-ctn">Book a stay <i class="material-icons">keyboard_arrow_right</i></button>
                       </div>
                </div>
                

            </section>
            <div class="section-one-space"></div>
        </div>

        <!-- Section One End -->

        <!-- Section Two Start -->
        <section class="section-two">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#8D021F" fill-opacity="1" d="M0,160L60,181.3C120,203,240,245,360,250.7C480,256,600,224,720,186.7C840,149,960,107,1080,101.3C1200,96,1320,128,1380,144L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg> -->
            
            <div class="section-two-background">
                <div class="section-two-content-wrapper">
                    <div class="section-two-space"></div>
                    <div class="section-two-content">
                        <h1>Why Gemini?</h1>
                        <!-- <div class="section-two-images">
                            <img src="/images/hostel1.jpeg" alt="">
                            <img src="/images/hostel2.jpeg" alt="">
                            <img src="/images/hostel3.jpeg" alt="">
                            <img src="/images/hostel4.jpeg" alt="">
                            <img src="/images/hostel5.jpeg" alt="">
                            <img src="/images/hostel6.jpeg" alt="">
                            <img src="/images/hostel7.jpeg" alt="">
                            <img src="/images/hostel8.jpeg" alt="">
                        </div> -->
                        <div class="section-two__cards">
                            <div class="section-two__card">
                                <h2><i class="material-icons">location_on</i> Prime Location</h2>
                                <p>Having situated in prime location in Navi Mumbai. It provides ease of access to students with most colleges located nearby</p>
                            </div>
                            <div  class="section-two__card">
                                <h2><i class="material-icons">done_all</i>  Sanitation</h2>
                                <p>Well maintained hostel sanitation is the most crucial step towards providing better stay. </p>
                            </div>
                            <div  class="section-two__card">
                                <h2><i class="material-icons">add_shopping_cart</i> Variety in Mess</h2>
                                <p>Food menu has a lot of options to choose from at affordable prices</p>
                            </div>
                        </div>
                        


                    </div>
                    <div class="section-two-space"></div>
                </div>
            </div>
        </section>
        <!-- Section Two End -->
        <!-- Section Three Start -->
        <section class="section-three">
            <div class="section-three-wrapper">
                <div class="section-three-space"></div>
                <div class="section-three-content">
                    <h1>Reviews</h1>
                    <div class="section-three__cards">
                        <div class="section-three__card">
                            <h2>Avinash</h2>
                            <p><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i></p>
                            <h3>"It was a great experience. Hostel Mess is great. most place around the city are easily accessible from hostel"</h3>    
                        </div>
                        <div class="section-three__card">
                            <h2>Avinash</h2>
                            <p><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i></p>
                            <h3>"It was a great experience. Hostel Mess is great. most place around the city are easily accessible from hostel"</h3>    
                        </div>
                        <div class="section-three__card">
                            <h2>Avinash</h2>
                            <p><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i></p>
                            <h3>"It was a great experience. Hostel Mess is great. most place around the city are easily accessible from hostel"</h3>    
                        </div>
                        
                        

                    </div>
                </div>
                <div class="section-three-space"></div>

            </div>

        </section>
        <!-- Section Three End -->

        <!-- Section Four Start -->
        <section class="section-four">
            <div class="section-four-wrapper">
                <div class="section-four-space"></div>
                <div class="section-four-content">
                    <div class="section-four-text">
                        <h1>Liked It?</h1>
                        <p>Fill the form and book now!</p>
                    </div>
                    

                    <div class="form-wrapper">
                        <form class="section-four-form" action="/" method="POST">
  
                            <label for="first-name">First Name</label>                            
                            <input type="text" id="first-name" name="firstname">
                            
                            <label for="last-name">Last Name</label>
                            <input type="text" id="last-name" name="lastname">

                            <label for="gender">Gender</label>
                            <input type="text" id="gender" name="gender">
                            
                            <label for="phone">Mobile</label>                            
                            <input type="tel" id="mobile" name="mobile">

                            <label for="email">Email</label>
                            <input type="email" id="email" name="email">
                            
                            <label for="password">Password</label>
                            <input type="password" id="password" name = "password">                            
                            
                            <button type="submit">Register</button>
                                                        
                          </form>

                    </div>
                </div>
                <div class="section-four-space"></div>

            </div>

        </section>
        <!-- Section Four End -->

    </main>

    <footer>
        <h3>Hostel Management System <i class="material-icons">copyright</i></h3>
        <p>Avinash Payak</p>
        <p>avinashpayak@gmail.com</p>
    </footer>

   
</body>
</html>