main {
    min-height: 100vh;

}

/* Sections Start */

section {
    margin: 100px 0;
    padding: 50px 0;

}

.section-content-wrapper {
    display: flex;
}
.section-space {
    flex: 1;
}
.section-content {
    flex: 0 0 1300px;

}

/* Section one Start */

.section-one .section-content > div{
    width: 100%;
    display: flex;
    padding: 0 100px;
    justify-content: center;
}
/* Add Room start */
.add-room {
    margin-top: 30px;
    padding: 20px 50px;
    display: flex;
    box-shadow: 3px 5px 20px #00000029;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.5s ease;
}

.add-room:hover {
    transform: scale(1.01);
    border-radius: 80px;

}
.add-room i {
    font-size: 50px;
    transition: 0.5s ease;
}
.add-room:hover i{
    transform: rotate(180deg);
}

/* Add Room Modal Start */
.backdrop {
    background: black;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 5;
}
.room {
    flex-direction: column;
    align-items: center;    
    box-shadow: 3px 8px 20px #00000029;
    position: fixed;
    top: 20vh;
    left: 40vw;
    padding: 50px;
    background: #E2E6E0;
    z-index: 10;
    
}
#close-room {
    float: right;
}
.room  i{ 
    font-size: 40px;
    cursor: pointer;

    transition: 0.3s ease;
}
.room i:hover {
    transform: rotate(90deg);
}
.room h1 {
    padding: 20px 0;
}
#submit-room {
    font-size: 25px;
    font-weight: 500;
    color: #8D021F;
    background: inherit;
    box-shadow: 3px 8px 20px grey;
    padding: 20px 35px;
    width: 100%;
    margin: 20px 0;
    

    transition: 0.1s ease;
}
#submit-room:hover {
    border-radius: 50px;
}
.room input, textarea {
    width: 500px;
    padding: 5px;
    font-size: 20px;
    margin: 10px 0;
}
/* Add Room Modal End */

/* Add Room End */

/* Rooms Start */
.rooms{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    margin: 10px;
    padding: 10px;
    
}
.card{
    margin: 20px;
    cursor: pointer;
    flex: 0 0 100px;
    min-width: 300px;
    border-radius: 0.521vw;
    margin-bottom: 4.688vw;

    /* For animation */
    /* transition: 0.3s ease; */
}
/* .card:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 20px #9797973B;
} */

.vacant {
    background: #D21F3C;
}
.card-content{
    padding: 20px;
}
.heading{
    font-size: 30px;
    line-height: 1;
    color: #10182F;
    font-weight: 500;
    margin-bottom: 20px;

    transition: 0.5s ease;

}
.hostelite{
    font-size: 18px;
    line-height: 1;
    color: #10182F;
    font-weight: 400;
    padding: 0;

    transition: 0.5s ease;
    
}
.size{
    color: #545D7A;
    font-size: 18px;
    font-weight: 400;

    transition: 0.5s ease;

}
.badge h2{
    margin:0;
    padding: 0;
}
.badge{
    position: relative;
    bottom: 10px;
    text-align: center;
    font-size: 14px;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    background: #D21F3C;

    transition: 0.5s ease;
}
.badge.vacant{
    position: relative;
    bottom: 10px;
    text-align: center;
    font-size: 14px;
    padding: 5px 10px;
    font-weight: 400;
    border-radius: 5px;
    color: white;
    background: green;

    transition: 0.5s ease;
}
.card .face {
    width: 300px;
    transition: 0.5s;
}

.card .face.face-1 {
    background: #F7FDF6;
    position: relative;
    display: flex;
    padding: 30px 0;
    box-shadow: 3px 5px 20px #9797973B;

    justify-content: center;
    align-items: center;
    transform: translateY(100px);
    z-index: 1;
}
.card:hover .face.face-1{
    transform: translateY(0px);
}
.card .face.face-2 {
    box-shadow: 3px 5px 20px #9797973B;
    transform: translateY(-100px);
    position: relative;
    display: flex;
    justify-content: center;
    height: 0;
    
}
.card:hover .face.face-1.vacant{
    background: green;
}
.card:hover .face.face-1.full{
    background: #D21F3C;
}

.card:hover .heading {
    color: #F7FDF6;
}
.card:hover .size {
    color: #F7FDF6;
}
.card:hover .badge.full {
    background: #F7FDF6;
    color: #D21F3C;
}
.card:hover .badge.vacant {
    background: #F7FDF6;
    color: green;
}
.card .face.face-2 button {
    border: 1px black solid;
    font-size: 15px;
    padding: 5px 10px;
    width: 100%;
    margin: 20px 0;

    transition: 0.2s ease;
}
.card .face.face-2 button:hover {
    border-radius: 20px;
}
.card:hover .face.face-2{
    transform: translateY(0px);
    padding: 10px;
    height: inherit;

}
.card:hover .face.face-2 .hostelite{
    padding: 5px 0;
    margin-bottom: 5px;
}
/* Rooms end */
/* Section one end */

/* Sections end */
