:root {
    --background: #F7FDF6;
    --backgorund-dark: #E2E6E0
    --secondary: #8D021F;
    --shadow: 3px 3px 10px #8D021F;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Main Start */
/* Section One Start */

/* .section-one-background {
    width: 400px;
    height: 600px;
    position: absolute;
    top: 0;
    right: calc(2% *10.5);
    z-index: -10;
    background: #8D021F;
} */
.section-one-wrapper{
    display: flex;
}
.section-one-space {
    flex: 1;
}
.section-one {
    height: 90vh;
    margin: 50px 0;
    flex: 0 0 1300px;
    display: flex;
}
.section-one-content {
    flex: 3;
}
.section-one-content h1 {
    text-transform: uppercase;
    font-size: 300px;
    line-height: 1;
}
.section-one-content h2 {
    text-transform: uppercase;
    font-size: 60px;
    line-height: 1;
}
.section-one-content h3 i {
    color: #8D021F;
    font-size: 80px;
}
.section-one-content h3 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 1;
}


.section-one-content > p {
    font-size: 30px;
    margin-top: 50px;
    width: 700px;
}
.section-one-rating {
    margin-top: 20px;
}
.section-one-rating p{
    font-size: 30px;
    font-weight: 600;
    vertical-align: bottom;

}
.section-one-rating i{
    color: #8D021F;
    font-size: 38px;
    vertical-align: bottom;
}
.section-one-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 5vh;
}
.section-one__buttons{
    margin: 30px 0;
}
.section-one__button {
    padding: 10px 30px;
    border: 3px solid black;
    background: none;
    font: inherit;
    font-size: 30px;
}
.section-one__button i {
    font-size: 45px;
    vertical-align: middle;
}
/* Section One End */
/* Section Two Start */
.section-two-content-wrapper {
    display: flex;
}
.section-two-space {
    flex: 1;
}
.section-two {
    height: 100vh;
}
.section-two-content {
    flex: 0 0 1300px;
    display: flex;
    align-items: center;
}
.section-two-content h1 {
    order: 2;
    flex: 1;
    font-size: 150px;
    line-height: 1;
    text-transform: uppercase;
}
.section-two__cards {
    order: 1;
    flex: 1.2;
}
.section-two__card {
    width: 400px;
    margin: 30px 20px;
}
.section-two__card h2 {
    font-size: 45px;
}
.section-two__card p {
    font-size: 25px;
    margin: 20px 0;
}
.section-two__cards i {
    font-size: 50px;
    color: #8D021F;

}
/* Section Two End */
/* Main End */