:root {
    --background: #F7FDF6;
    --backgorund-dark: #E2E6E0
    --secondary: #8D021F;
    --shadow: 3px 3px 10px #8D021F;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Main Start */
/* Section One Start */

/* .section-one-background {
    width: 400px;
    height: 600px;
    position: absolute;
    top: 0;
    right: calc(2% *10.5);
    z-index: -10;
    background: #8D021F;
} */
.section-one-wrapper{
    display: flex;
}
.section-one-space {
    flex: 1;
}
.section-one {
    height: 80vh;
    margin: 30px 0 100px 0;
    flex: 0 0 1300px;
    display: flex;
}
.section-one-content {
    flex: 3;
}
.section-one-content h1 {
    text-transform: uppercase;
    font-size: 300px;
    line-height: 1;
}
.section-one-content h2 {
    text-transform: uppercase;
    font-size: 60px;
    color: #333333;
    line-height: 1;
}
.section-one-content h3 i {
    color: #8D021F;
    font-size: 80px;
}
.section-one-content h3 {
    margin-top: 20px;
    color: #333333;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 1;
}


.section-one-content > p {
    font-size: 30px;
    margin-top: 50px;
    width: 700px;
}
.section-one-rating {
    margin-top: 20px;
}
.section-one-rating p{
    font-size: 30px;
    font-weight: 600;
    vertical-align: bottom;

}
.section-one-rating i{
    color: #8D021F;
    font-size: 38px;
    vertical-align: bottom;
}
.section-one-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.section-one__buttons{
    margin: 30px 0;
}
.section-one__button {
    padding: 10px 30px;
    border: 3px solid black;
    background: none;
    font: inherit;
    font-size: 30px;
}
.section-one__button i {
    font-size: 45px;
    vertical-align: middle;
}
/* Section One End */
/* Section Two Start */
.section-two-content-wrapper {
    display: flex;
}
.section-two-space {
    flex: 1;
}
.section-two {
    height: 100vh;
}
.section-two-content {
    flex: 0 0 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-two-content h1 {
    order: 2;
    font-size: 150px;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
}
.section-two__cards {
    order: 1;
    flex: 0 0 500px;
}
.section-two__card {
    width: 400px;
    margin: 30px 0;
}
.section-two__card h2 {
    font-size: 45px;
}
.section-two__card p {
    font-size: 25px;
    margin: 20px 0;
}
.section-two__cards i {
    font-size: 50px;
    color: #8D021F;

}
/* Section Two End */
/* Section Three Start */
.section-three-wrapper{
    display: flex;
}
.section-three-space {
    flex: 1;
}
.section-three-content {
    height: 90vh;
    flex: 0 0 1300px;
}
.section-three-content h1 {
    text-align: center;
    font-size: 150px;
}

.section-three__cards{
    margin: 30px 0;
    justify-content: space-around;
    display: flex;
}
.section-three__card {
    margin: 0 20px;
    width: 350px;
    padding: 20px;
    border-top: 2px black solid;
    border-left: 2px black solid;
}
.section-three__card h2 {
    font-weight: 500;
    font-size: 35px;

}
.section-three__card i{
    margin:10px 0;
    font-size: 40px;
    color: #8D021F;

}
.section-three__card h3{
    margin-top: 10px;
    font-size: 28px;
    font-family: 'Charm', cursive;

}
/* Section Three End */
/* Section Four Start */
.section-four-wrapper{
    display: flex;
}
.section-four-space {
    flex: 1;
}
.section-four-content{
    flex: 0 0 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-four-content h1 {
    font-size: 150px;
}
.section-four-content p {
    font-size: 30px;
}
.section-four-text {
    flex: 1.5;
}
.form-wrapper {
    flex: 0 0 600px;
    display: flex;
    justify-content: flex-start;
}
.section-four-form {
    width: 600px;
    margin: 50px 0;
    padding: 30px;
    border-top: 2px black solid;
}
.section-four-form input,textarea{
    margin-bottom: 20px;
    display: block;
    font-size: 20px;
    padding: 5px;
    width: 80%;
    height: 40px;
    border: 1px black solid;
    background: #F7FDF6;
}
.section-four-form label{
    font-size: 25px;
}
.section-four-form button {
    margin: 20px 0;
    padding: 10px 30px;
    font-size: 30px;
    border: 2px solid black;

}
/* Section Four End */
/* Main End */