/* General CSS */
:root {
    --background: #F7FDF6;
    --backgorund-dark: #E2E6E0
    --secondary: #8D021F;
    --shadow: 3px 3px 10px rgb(53, 53, 156);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 45px;
}
p {
    font-size: 18px;
}
a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
}
body {
    background: var(--background);
    font-family: 'oswald';
}

/* Header Start */
/* Navigation Start */
header {
    position: sticky;
    top: 0;
    background: var(--background);
    margin: 10px 0;
}
.nav-wrapper {
    display: flex;
}
.nav-space {
    flex: 1;
}
.main-nav {
    flex: 0 0 1300px;
    display: flex;
    justify-content: space-between;
}
.main-nav-logo p {
    text-transform: uppercase;
    vertical-align: middle;
}
.main-nav-logo i {
    color: #8D021F;
    vertical-align: top;
}
.main-nav__items{
    list-style: none;
    display: flex;
}
.main-nav__item {
    margin: 0 10px;
}
/* Navigation End */
/* Header End */

